body {
    overflow: hidden;
    margin: 0;
    font-family: "Inter", sans-serif;
}
button {
    border-radius: 5px;
    background: white;
    color: black;
    border: none;
    padding: 8px 15px;
    margin: 0 5px;
    box-shadow: inset 0 0 0 1px black;
    outline: none;
}
#create {
    box-shadow: none;
    background: #18A0FB;
    color: white;
}
input {
    border: none;
    outline: none;
    padding: 8px;
}
input:hover { box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); }
button:focus { box-shadow: inset 0 0 0 2px #18A0FB; }
#create:focus { box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3); }
input:focus { box-shadow: inset 0 0 0 2px #18A0FB; }

.font-row {
    cursor: pointer;
    padding: 7px 5px 7px 15px;
}
.font-row:hover, .font-row:focus {
    background: #f3f3f3;
}

.loading {
    display: inline-block;
    width: 15px;
    height: 15px;
}
.loading:after {
    content: " ";
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #18A0FB;
    border-color: #18A0FB transparent #18A0FB transparent;
    animation: circle-loader 1.2s linear infinite;
}
@keyframes circle-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#empty-search {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
    padding: 40px;
    font-family: "Inter", sans-serif;
}

.input {
    display: flex;
    width: 100%;
    height: 30px;
    padding: 8px 4px 8px 15px;
    color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    outline: none;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    line-height: 16px;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.005em;
}
.input:focus {
    box-shadow: none;
}

.input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.input:disabled {
    color: rgba(0, 0, 0, 0.3);
}

#fonts, #search-results {
    overflow-y: scroll;
    height: 95%;
    overflow-x: hidden;
}

.close {
    position: absolute;
    right: 1px;
    top: 0px;
    width: 13px;
    cursor: pointer;
    height: 29px;
    opacity: 0.3;
    border: none;
    background: #bbbbbb;
    box-shadow: none;
    border-radius: 50% 50%;
    transition: all ease-in-out 350ms;
    transform: scale(0.6);
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 14px;
    top: 8px;
    content: ' ';
    height: 13px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

#toast {
    position: absolute;
    font-family: "Inter", sans-serif;
    bottom: 20px;
    font-size: 12px;
    display: none;
    text-align: center;
    width: 88%;
    background: #151515;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

 .clusterize-scroll{
    max-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
}

.clusterize-content{
    outline: 0;
    counter-reset: clusterize-counter;
}

.clusterize-no-data {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
    padding: 40px;
    font-family: "Inter", sans-serif;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 10px;
    display: flex;
    padding: 3px 0;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer .link {
    margin: 0 5px;
}
